[run]
branch = True
source =
  backend_fastapi/app
omit =
  */tests/*

[report]
show_missing = True
skip_covered = False
fail_under = 65
exclude_lines =
  pragma: no cover
  if __name__ == .__main__.:
